.progress-bar-box{
    margin-block: 40px;
    height: 100%;
}

.step {
    display: flex;
    align-items: center;
    flex: 1 0;
    padding-right: 0!important;
}

.step:not(:first-child){
    margin-left: 20px;
    padding-left: 0;
}

.progress-line-box {
    height: 3px;
    background-color: grey;
    border-radius: 15px;
}

.progress-line-box:not(:last-child){
    margin-right: 20px;
}


.progress-line{
    width: 100%;
    height: 100%;
    background-color: var(--green);
    display: none;
    border-radius: 15px;
}

.step-name{
    position: relative;
}

.step-index{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.step-title{
    position: absolute;
    transform: translate(-50%, 20%);
    left: 50%;
    text-align: center;
}

.step.active .step-index{
    animation: active 1s;
    animation-fill-mode: forwards; 
}

.step.active .progress-line{
    display: block;
}

@keyframes active {
    100% {
        background-color: var(--green);
    }
}