.nav-link{
    padding: 32px 16px 32px 16px!important;
}

.nav-link.active {
    color: var(--green)!important;
    border-bottom: 2px solid var(--green);
} 

.image-logo svg{
    width: 30px;
    fill: var(--green);
    margin-right: 32px!important;
}

.cart-nav-button{
    width: 25px;
    cursor: pointer;
    position: relative;
}

.cart-counter{
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 50%;
    padding: 2px;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}